body
{
background:  hotpink;
}
h1{
    background: yellowgreen;
    color: red;
    height:100px;
    text-align:center;
    padding-top:50px;
}
h3{
    background:white;
    height:100px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
}
div
{
background: blue;
height:55px;
width:400px;
margin:auto;
text-align: center;
font-size: xx-large;
margin-top:75px;
}
p
{
text-align: center;
padding-top: 25px;
font-size: x-large;
font-weight: bolder;
}
